<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6ZXPY0nErcEbzxOmydLvX70bqneo4XU4</string>
	<key>GCM_SENDER_ID</key>
	<string>882752566173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ethnicElegance.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ethnicelegance-71357</string>
	<key>STORAGE_BUCKET</key>
	<string>ethnicelegance-71357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882752566173:ios:3f07bf2dec58d448dd3574</string>
	<key>DATABASE_URL</key>
	<string>https://ethnicelegance-71357-default-rtdb.firebaseio.com</string>
</dict>
</plist>